html{
    background-color: #000000;
}

#hr2{
    color:red;
    background-color: #B0DAFF;
    text-align: center;
}

img[src="../Images/spydy1.jpeg"]{
    height: 400px;
    width: 792px;
}

#p1{
    color:red;
    text-align: center;
    font-size: 20px;
    font-family: Source Code Pro;
}

#p2{
    color:red;
}